{% extends "base.html" %}
{% block content %}

<h2>{{ evento.titulo }}</h2>

{% if evento.banner %}
<img src="{{ evento.banner.url }}" alt="Banner do evento" style="max-width: 300px; border-radius: 8px;">
{% endif %}

<p><strong>Tipo:</strong> {{ evento.get_tipo_display }}</p>
<p><strong>Data de início:</strong> {{ evento.data_inicio }}</p>
<p><strong>Data de término:</strong> {{ evento.data_fim }}</p>
<p><strong>Horário:</strong> {{ evento.horario }}</p>
<p><strong>Local:</strong> {{ evento.local }}</p>
<p><strong>Vagas disponíveis:</strong> {{ evento.vagas_disponiveis }}</p>
<p><strong>Organizador:</strong> {{ evento.organizador.username }}</p>

<hr>

{% if user.is_authenticated and user.perfil == "participante" %}
    {% if usuario_inscrito %}
        <p style="color: green;"><strong>Você já está inscrito neste evento.</strong></p>

        <form method="post" action="{% url 'cancelar_inscricao' evento.id %}">
            {% csrf_token %}
            <button type="submit">Cancelar inscrição</button>
        </form>
    {% else %}
        <form method="post" action="{% url 'inscrever_evento' evento.id %}">
            {% csrf_token %}
            <button type="submit">Inscrever-se</button>
        </form>
    {% endif %}
{% endif %}

<hr>

{% if user.is_authenticated and user.perfil in "organizador admin" %}
<h3>Participantes inscritos</h3>

{% if evento.participantes.all %}
    <ul>
        {% for participante in evento.participantes.all %}
        <li>
            {{ participante.username }}
            <form method="post" action="{% url 'emitir_certificado' evento.id participante.id %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Emitir Certificado</button>
            </form>
        </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Nenhum participante inscrito.</p>
{% endif %}
{% endif %}

<a href="{% url 'lista_eventos' %}">Voltar</a>

{% endblock %}
