<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>SGEA</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<header>
    <img src="{% static 'img/logo.svg' %}" alt="Logo SGEA" class="logo">
    <h1>SGEA – Sistema de Gerenciamento de Eventos Acadêmicos</h1>
</header>

<div style="max-width: 900px; margin: 30px auto;">
    
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags == 'success' %}alert-success{% else %}alert-error{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="card">
        {% block content %}
        {% endblock %}
    </div>

</div>

</body>
</html>
