{% extends "base.html" %}
{% load static %}
{% block content %}

<h2>Cadastre-se</h2>

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/masks.js' %}"></script>

<form method="post">
    {% csrf_token %}

    {% if form.errors %}
        <div style="color: red; font-weight: bold;">
            {{ form.errors }}
        </div>
    {% endif %}

    {{ form.as_p }}

    <button type="submit">Registrar</button>
</form>

{% endblock %}
